<section class="hero is-large box">
  <div class="hero-body has-text-centered">
    <p class="title title-promotion">
      – 20% SUR TOUTE LA COLLECTION JUSQU’AU 10 AOUT. PROFITEZ-EN !
    </p>
    <button href="#section-catalogue" class="button is-dark box-shadow is-medium">COMMANDE RAPIDE</button>
  </div>
</section>

<!-- section apres header -->
<section class="hero is-medium bg-dark" id="section-catalogue">
<!-- <img src="../assets/img/menuhometextpng.png" alt="" class="image-home-details" alt="" srcset=""> -->

<!-- texte en dessous les cards -->
<div class="row middle-text-home bg-white text-center">
  <h1 class="title">DECOUVERT TOUTE NOTRE GAMME DE PRODUITS</h1>
  <h2 class="subtitle">
    Aucune excuse, faites-vous plaisir : il y en a pour tous les goûts !
  </h2>
</div>

<!-- les cards -->
<lister-catalogue></lister-catalogue>

</section>











