<div class="title is-size-1 has-text-danger">
  <h1 class="has-text-centered">BURGER SIMPLE</h1>
</div>
<section class="section section-info-principal">
  <div class="row row-info">
    <div class="description-information">
      <h2 class="h1">Pain grillé</h2>
      <h2 class="h1">burger 130g</h2>
      <h2 class="h1">fromage et sauce maison</h2>
    </div>

    <div class="middle-information">
      <img
        src="../assets/img/image-menu-details.png"
        alt=""
        class="image-details-commande"
      />
    </div>

    <div class="price-information">
      <div class="prix-item bg-dark">
        <h1 class="is-size-1">1500 FCFA</h1>
      </div>
    </div>

    <div class=" p-4 has-text-centered">
      <div class="col-lg-2">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
              <span class="glyphicon glyphicon-minus">-</span>
            </button>
          </span>
          <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100" />
          <span class="input-group-btn">
            <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" >
              <span class="glyphicon glyphicon-plus">+</span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="has-text-centered bouton-ajouter-panier">
    <button class="button is-black p-4 is-size-4">Ajouter au panier</button>
  </div>
</section>

<div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"
          ><i class="fas fa-image" aria-hidden="true"></i
        ></span>
        <span>Boissons</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"
          ><i class="fas fa-music" aria-hidden="true"></i
        ></span>
        <span>Complements</span>
      </a>
    </li>
  </ul>
</div>

<section class="section is-small">
  <h1 class="title">Autres</h1>
  <h2 class="subtitle">Choisir un autres types de boisson</h2>
</section>
