

<ng-container *ngIf="detail$|async as detailProduit">

<div class="title is-size-1 has-text-danger">
  <h1 class="has-text-centered">{{detailProduit?.produit?.nom}}</h1>
</div>
<section class="section section-info-principal">
  <div class="row row-info">

    <div class="description-information">
      <h2 class="h1">Pain grillé</h2>
      <h2 class="h1">burger 130g</h2>
      <h2 class="h1">fromage et sauce maison</h2>
    </div>

    <div class="img-responsive middle-information">
      <img
        src="data:image/png;base64,{{detailProduit?.produit?.image}}"
        alt=""
        class=" image-details-commande "
      />
      <!-- quantity -->
      <div class="input-group div-count">
      <div class="d-flex mb-4" style="max-width: 100%"  >
        <button class="btn btn-primary px-3 me-2"
          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
          <i class="bi bi-dash"></i>
        </button>

        <div class="form-outline">
          <input id="form1" min="1" name="quantity" value="{{detailProduit?.produit?.quatity}}" type="number" class="form-control" />
        </div>

        <button class="btn btn-primary px-3 ms-2"
          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
          <i class="bi bi-plus"></i>
        </button>
      </div>
    </div>
      <!-- quantity -->
    </div>
    <div class="price-information">
      <div class="prix-item bg-dark">

        <h1 class="is-size-1">{{detailProduit.produit!.prix}} FCFA</h1>
      </div>
    </div>
    <div class="just pour mettre le bouton ajout au milieu"></div>
    <button class="button button-ajout-panier is-black  is-size-5" >Ajouter au panier</button>


      <div class="has-text-centered div-ajouter-panier-count bg-warning ">

      </div>
  </div>

</section>
<div id='gfg'>
	<tabset>
		<tab *ngFor=" let menuTaille of detailProduit!.produit.menuTailles" heading="{{menuTaille['taille']['libelle']}} ({{menuTaille['quantite']}})" >
      <div class="row d-flex flex-nowrap overflow-auto">
        <div class="div-wrap-boisson" *ngFor=" let tailleBoisson of menuTaille['taille']['tailleBoissons']">
          <span>{{tailleBoisson.boisson.nom}}   (reste {{tailleBoisson.stock}} en stock)</span>
          <img  src="data:image/png;base64,{{tailleBoisson.boisson.image}}" alt=""  class="boissons-tabs">
          <input type="checkbox">

               <!-- quantity boisson -->
               <div class="d-flex mb-4" style="max-width: 300px">
                <button class="btn btn-primary px-3 me-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="bi bi-dash"></i>
                </button>

                <div class="form-outline">
                  <input id="form1" min="1" max="{{tailleBoisson.stock}}" name="quantity" value="{{tailleBoisson.boisson.quantity}}" type="number" class="form-control" />

                </div>

                <button class="btn btn-primary px-3 ms-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="bi bi-plus"></i>
                </button>
              </div>
              <!-- quantity boisson -->

        </div>

      </div>
		</tab>

	</tabset>
</div>


<!-- AUTRES TYPES DE BOISSONS -->
<section class="section is-small">
  <h1 class="title">Autres Boissons</h1>
  <h2 class="subtitle">Choisir un autres types de boisson</h2>


<div id='gfg'>
  <tabset>
      <tab heading="BOISSONS">
        <div class="row d-flex flex-nowrap overflow-auto">
          <div class="div-wrap-boisson" *ngFor=" let boisson of detailProduit.boisson">
            <span>{{boisson.nom}}</span>
            <img  src="data:image/png;base64,{{boisson.image}}" alt=""  class="boissons-tabs">
            <div class="form-check justify-content-center d-flex" >
              <input class="form-check-label" type="checkbox" value="boisson" >
            </div>
            <!-- quantity boisson -->
            <div class="d-flex mb-4" style="max-width: 300px">
              <button class="btn btn-primary px-3 me-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                <i class="bi bi-dash"></i>
              </button>

              <div class="form-outline">
                <input id="form1" min="0" name="quantity" value="{{boisson.quantity}}" type="number" class="form-control" />

              </div>

              <button class="btn btn-primary px-3 ms-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                <i class="bi bi-plus"></i>
              </button>
            </div>
            <!-- quantity boisson -->

          </div>

        </div>
      </tab>
      <tab heading="FRITES">
        <div class="row d-flex flex-nowrap overflow-auto">
          <div class="div-wrap-boisson" *ngFor=" let frite of detailProduit.portionFrite">
            <span>{{frite.nom}}</span>
            <img  src="data:image/png;base64,{{frite.image}}" alt=""  class="boissons-tabs">
            <input type="checkbox">
            <div class="input-group div-countd-flex ">
              <span class="input-group-btn">
                <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                  <span class="glyphicon glyphicon-minus"><i class="bi bi-dash"></i></span>
                </button>
              </span>
              <input type="text" id="quantity" name="quantity" class="form-control input-number" size="3" value="1" min="1" max="100" />
              <span class="input-group-btn">
                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" >
                  <span class="glyphicon glyphicon-plus"><i class="bi bi-plus"></i></span>
                </button>
              </span>
            </div>
          </div>

        </div>
      </tab>

  </tabset>
</div>
</section>

</ng-container>
