.logo-div
{

  bottom: 1em;

}
.logo
{
  width: 12%;
  top: -3.2em;
  text-align: center;
  margin-left: 6rem;
}

.total-number-panier{
  position: fixed;
  transform: scale(2em);  /* ici à revoir  */
  transform: translateX(2em);
}
.bi-house-heart-fill
{
  display: flex;
  align-items: center;
  transform: scale(2.5 );
  padding-right: 1em;
  margin: 0;
}
.btn-decouvrez-menu{
  padding: 2;
  margin: 0;
}
